### 2C

In [18]:
import os
import pandas as pd

In [9]:
os.getcwd()

'C:\\Users\\Bharat Anand\\Desktop\\2c'

In [8]:
os.chdir('C:\\Users\\Bharat Anand\\Desktop\\2c')

In [14]:
ddh = pd.read_csv('DDH.csv')

In [16]:
sch = pd.read_csv('SCH.csv')

In [17]:
cch = pd.read_csv('CCH.csv')

In [19]:
tsh = pd.read_csv('TSH.csv')

### Optimization

In [22]:
sch.head()

   store  dept  sales  div
0      1   211    786    1
1      2   211    517    1
2      3   211    642    2
3      4   211    459    2
4      5   211    130    3

In [25]:
sch.groupby('store').sales.sum()

store
1    3413
2    2769
3    3089
4    2622
5    1517
6    2254
7    2173
Name: sales, dtype: int64