In [1]:
import numpy as np #optional

In [2]:
import pandas as pd

In [3]:
#check the version

In [4]:
print(pd.__version__)

0.24.2

In [5]:
#create series from list

In [7]:
mylist = list('abcedfghijklmnopqrstuvwxyz')

mylist

['a',
 'b',
 'c',
 'e',
 'd',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z']

In [8]:
myarr = np.arange(0,51,2)
myarr

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48, 50])

In [10]:
mydict = dict(zip(mylist, myarr))
mydict

{'a': 0,
 'b': 2,
 'c': 4,
 'e': 6,
 'd': 8,
 'f': 10,
 'g': 12,
 'h': 14,
 'i': 16,
 'j': 18,
 'k': 20,
 'l': 22,
 'm': 24,
 'n': 26,
 'o': 28,
 'p': 30,
 'q': 32,
 'r': 34,
 's': 36,
 't': 38,
 'u': 40,
 'v': 42,
 'w': 44,
 'x': 46,
 'y': 48,
 'z': 50}

In [11]:
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

In [13]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [20]:
df=pd.DataFrame(ser)

In [21]:
print(df.head())

   0
a  0
b  1
c  2
e  3
d  4

In [29]:
df = pd.concat([ser1, ser2], axis=1)

In [30]:
df

    0   1
0   a   0
1   b   2
2   c   4
3   e   6
4   d   8
5   f  10
6   g  12
7   h  14
8   i  16
9   j  18
10  k  20
11  l  22
12  m  24
13  n  26
14  o  28
15  p  30
16  q  32
17  r  34
18  s  36
19  t  38
20  u  40
21  v  42
22  w  44
23  x  46
24  y  48
25  z  50

In [31]:
df=pd.concat([ser1,ser2],axis=0)

In [32]:
df

0      a
1      b
2      c
3      e
4      d
5      f
6      g
7      h
8      i
9      j
10     k
11     l
12     m
13     n
14     o
15     p
16     q
17     r
18     s
19     t
20     u
21     v
22     w
23     x
24     y
25     z
0      0
1      2
2      4
3      6
4      8
5     10
6     12
7     14
8     16
9     18
10    20
11    22
12    24
13    26
14    28
15    30
16    32
17    34
18    36
19    38
20    40
21    42
22    44
23    46
24    48
25    50
dtype: object

In [33]:
df = pd.DataFrame({'alphabs': ser1, 'numbs': ser2})

In [34]:
print(df.head())

  alphabs  numbs
0       a      0
1       b      2
2       c      4
3       e      6
4       d      8

In [35]:
#Naming the series

In [42]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [43]:
ser.name = 'alphabets'

In [44]:
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [45]:
#items in A and not in B

In [46]:
A = pd.Series([1, 2, 3, 4, 5])

In [47]:
B = pd.Series([4, 5, 6, 7, 8])

In [48]:
A[~A.isin(B)]

0    1
1    2
2    3
dtype: int64

In [32]:
#items in A and B but not in both

In [54]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [55]:
Union = pd.Series(np.union1d(ser1, ser2))

In [57]:
Union

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [58]:
Intersect=pd.Series(np.intersect1d(ser1, ser2))

In [59]:
Intersect

0    4
1    5
dtype: int64

In [60]:
Union[~Union.isin(Intersect)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [61]:
#min, 25th percentile, median, 75th, and max

In [62]:
ser=pd.Series(np.random.randint(1,50,25))

In [63]:
print(ser)

0     43
1      1
2     48
3      6
4     34
5     45
6     34
7     43
8     42
9     17
10     8
11    49
12    38
13    23
14    44
15    43
16    20
17    31
18     6
19    11
20     7
21    22
22    40
23    18
24     3
dtype: int32

In [64]:
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 1., 11., 31., 43., 49.])

In [65]:
#frequency counts of unique items of a series

In [44]:
ser=pd.Series(np.take(list('abcdefgh'), np.random.randint(8,size=30)))

In [45]:
ser

0     a
1     f
2     c
3     g
4     g
5     d
6     f
7     d
8     e
9     e
10    d
11    e
12    d
13    a
14    g
15    h
16    g
17    a
18    c
19    b
20    d
21    d
22    h
23    b
24    b
25    a
26    b
27    e
28    f
29    g
dtype: object

In [46]:
ser.value_counts()

d    6
g    5
e    4
b    4
a    4
f    3
h    2
c    2
dtype: int64

In [47]:
print("Top 2 Freq:", ser.value_counts())

('Top 2 Freq:', d    6
g    5
e    4
b    4
a    4
f    3
h    2
c    2
dtype: int64)

In [48]:
ser[~ser.isin(ser.value_counts().index[0:4])] ='Other'

In [49]:
ser

0     Other
1     Other
2     Other
3         g
4         g
5         d
6     Other
7         d
8         e
9         e
10        d
11        e
12        d
13    Other
14        g
15    Other
16        g
17    Other
18    Other
19        b
20        d
21        d
22    Other
23        b
24        b
25    Other
26        b
27        e
28    Other
29        g
dtype: object

In [50]:
#Reshaping

In [51]:
ser = pd.Series(np.random.randint(0,10,35))
ser

0     0
1     4
2     4
3     0
4     6
5     9
6     5
7     1
8     7
9     4
10    8
11    4
12    4
13    8
14    4
15    2
16    5
17    9
18    9
19    3
20    2
21    1
22    6
23    2
24    5
25    8
26    6
27    8
28    6
29    4
30    9
31    8
32    1
33    8
34    8
dtype: int32

In [52]:
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  0  4  4  0  6
1  9  5  1  7  4
2  8  4  4  8  4
3  2  5  9  9  3
4  2  1  6  2  5
5  8  6  8  6  4
6  9  8  1  8  8

In [53]:
df[4][5]

4

In [54]:
df[2:6]

   0  1  2  3  4
2  8  4  4  8  4
3  2  5  9  9  3
4  2  1  6  2  5
5  8  6  8  6  4

In [55]:
#import csv files

In [56]:
x=pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Auto.csv')

In [57]:
df=pd.DataFrame(x)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [58]:
export_csv = df.to_csv('gk12.csv')

In [59]:
export_csv = df.head().to_csv('gk12.csv')

In [60]:
cr=pd.read_csv(filepath_or_buffer = "gk12.csv")

In [61]:
pd.read_csv("gk12.csv", 
            skiprows = [1, 2])ss

,Unnamed: 0,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
1,3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
2,4,17.0,8,302.0,140,3449,10.5,70,1,ford torino